* {
    font-family: 'Play', sans-serif;
}

body {
    background-color: #0981AF;
    margin: 0%;
    background: linear-gradient(#0981AF 50%, #073344);
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #FFEB82;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #662B99;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: none /* creates padding around scroll thumb */
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #9f6dca;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
  }
.navbar {
    background-color: #15171a;
    width: 100%;
    height: 60px;
    box-shadow: #10025f3b 0px 10px 10px -5px;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    /* border: white 1px solid; */
}
.navbarImg {
    margin-left: 150px;
}
.navbarImg img{
    /* border: white 1px solid; */
    padding-top: 5px;
    width: 120px;
}

.navbarImg img:hover {
    cursor: pointer;
}

.botoesNavbar {
    /* border: white 1px solid; */
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 150px;
}

.loginNavbar button {
    padding: 10px 20px;
    margin: 2px 10px 2px 2px;
    background-color: #662B99;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}

.cadastroNavbar button {
    padding: 13px 20px;
    margin: 2px 2px 2px 10px;
    background-color: #2F6BDF;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}

.cadastroNavbar button:hover {
    cursor: pointer;
    background-color: #31afe0;
}

.loginNavbar button:hover {
    cursor: pointer;
    background-color: #0981AF;
}
.nomeUsuario {
    /* border: white 1px solid; */
    z-index: 3;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 85%;
    color: #FFEB82;
    
    box-shadow: 0px 4px 0px  #FFEB82;
}
.nomeUsuario p{
    font-weight: bold;
    justify-items: center;
    align-items: center;
    color: #FFEB82;
}

.sessaoUm {
    margin-top: 50px;
    width: 100%;
    height: 611px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-image: url(../assets/bg-puzzle-pieces-azul.png);
    background-position: center;
    background-size: 120%;
}

.sessaoUmCoisas {
    /* border: red 1px solid; */
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.moduloDash {
    width: 30%; height: 248px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: #0981AF;
    background-color: none;
    border-radius: 5px;
    box-shadow: #10025f3b 0px 10px 10px 5px;
}
.moduloDash button{
    color: #0981AF;
    background-color: #bfe3f1;
    border: 1px solid #bfe3f1;
    border-radius: 5px;
    font-size: 200px;
    font-weight: 100;
    padding: 2% 36%;
    box-shadow: #10025f3b 0px 10px 10px 5px;
    transition: all 0.5s;
    position: relative;
}
.moduloDash button:hover{
    cursor: pointer;
    color: #053d53;
    background-color: #87d9fa;
    border: 3px solid #fdffff;
}
.coisasModuloDash {
    display: none;
    font-size: 14px;
    width: 100%; height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
.eixoTitulo {
    display: flex;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: #FFEB82;
    width: 100%;
    background-color: #662B99;
    align-items: center;
    justify-content: center;
    /* border: red 1px solid; */
}
.eixoTitulo p{
    font-size: 15px;
    padding: 10px 0 10px 0;
    margin: 0%;
}
.eixo {
    margin-left: 18px;
    display: flex;
    flex-direction: row;
    /* border: red 1px solid; */
    width: 100%; height: 90%;
    align-items: flex-start;
    justify-content: center;
}
.eixo p{
    font-weight: bold;
    color: #662B99;
    margin: 0 0 10px 5px;
}
.eixo1 {
    /* border: rgb(82, 0, 214) 1px solid; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.eixo1 input {
    width: 200px;
}
.eixo2 {
    /* border: red 1px solid; */
    width: 30%;
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.eixo2 input {
    width: 70px;
    margin-bottom: 20px;
}
.dataHora {
    height: 50%;
    width: 230px;
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.dataHora p{
    margin: 5px 5px 0 0;
}
.dataHora input{
    width: 80px;
}
/* .eixoBotoes{
    width: 50%;
    margin-bottom: 2px;
    display: flex;
    border: red 1px solid;
    align-items: center;
    justify-content: center;
} */
.eixoInputs button {
    padding: 1px 30px;
    background-color: #662B99;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
}
.eixoInputs button:hover {
    color: white;
    cursor: pointer;
    background-color: #0981AF;
    box-shadow: none;
    border: none;
}
.eixoInputs {
    width: 50%;
    /* border: red 1px solid; */
    align-items: center;
    justify-content: center;
}
.eixoInputs input {
    text-align: center;
    padding: 8px 5px;
    border: none;
    border-radius: 10px;
}
.eixoInputs input:focus {
    background-color: #FFEB82;
    border: none;
    outline: none;
}

.footer {
    z-index: 1;
    background-color: rgb(21, 23, 26);
    width: 100%;
    height: 60px;
    box-shadow: rgba(16, 2, 95, 0.531) 0px -10px 30px -10px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.footer p {
    margin: 0;
    color: white;
    padding-left: 150px;
}
.footer img {
    padding-top: 5px;
    width: 120px;
}