* {
    font-family: 'Play', sans-serif;
}

body {
    background-color: #0981AF;
    margin: 0%;
    background: linear-gradient(#0981AF 50%, #073344);
}
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #FFEB82;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #662B99;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: none /* creates padding around scroll thumb */
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #9f6dca;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
  }
.navbar {
    background-color: #15171a;
    width: 100%;
    height: 60px;
    box-shadow: #10025f3b 0px 10px 10px -5px;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    /* border: white 1px solid; */
}
.navbarImg {
    margin-left: 150px;
}
.navbarImg img{
    /* border: white 1px solid; */
    padding-top: 5px;
    width: 120px;
}

.navbar img:hover {
    cursor: pointer;
}

.botoesNavbar {
    /* border: white 1px solid; */
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 150px;
}
.loginNavbar button {
    border: none;
    padding: 10px 20px;
    margin: 2px 10px 2px 2px;
    background-color: #2F6BDF;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}
.cadastroNavbar button {
    border: none;
    padding: 13px 20px;
    margin: 2px 2px 2px 10px;
    background-color: #662B99;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}
.dashNavbar button {
    border: none;
    padding: 10px 20px;
    margin: 2px 10px 2px 2px;
    background-color: #FFEB82;
    font-size: 14px;
    font-weight: bold;
    color: #662B99;
    border-radius: 5px;
    transition: all 0.5s;
}

.cadastroNavbar button:hover {
    cursor: pointer;
    background-color: #31afe0;
}

.loginNavbar button:hover {
    cursor: pointer;
    background-color: #31afe0;
}
.dashNavbar button:hover {
    cursor: pointer;
    color: white;
    background-color: #31afe0;
}
.nomeUsuario {
    /* border: white 1px solid; */
    z-index: 3;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 85%;
    color: #FFEB82;
    
    box-shadow: 0px 4px 0px  #FFEB82;
}
.nomeUsuario p{
    font-weight: bold;
    justify-items: center;
    align-items: center;
    color: #FFEB82;
}

.sessaoUm {
    display: flex;
    width: 100%;
    height: 400px;
    background-image: url(../assets/puzzle40.png);
    padding-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    align-items: start;
    justify-content: center;
    /* border: white 1px solid; */
}

.sessaoUmCoisas {
    /* linha branca */
    position: absolute;
    border-bottom: 10px solid #FFFFFF;
    box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.5);
    /* border: white 1px solid; */
    width: 40%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 1000;
    font-size: 128px;
    line-height: 148px;
    /* sombra e gradient amarelo */
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 171px;
    background: radial-gradient(50% 50% at 50% 50%, #FFEB82 0%, rgba(217, 217, 217, 0) 65.1%);
}
.sessaoUmSubtitulo {
    margin-top: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: white 1px solid; */
    font-family: 'Play';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
text-transform: uppercase;
}

.sessaoUmCoisas p {
padding: 0;
margin: 0;
}
.sessaoDois {
    /* border: white 1px solid; */
    background-image: url(../assets/wave.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessaoDoisCoisas{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 90%;
    height: 100%;
    /* border: white 1px solid; */
}
.moduloQuadro1{
    z-index: 1;
    background-image: url('../assets/guitar.jpg');
    background-size: cover;
    border-radius: 20px;
    box-shadow: #10025f3b 0px 10px 10px 5px;
    width: 80%;
    height: 100%;
    border: 2px solid #ffffff;
    margin-bottom: 100px;
    margin-left: 120px;
}
.moduloQuadro2{
    z-index: 1;
    background-image: url('../assets/atelie.jpg');  
    background-size: cover;
    border-radius: 20px;
    box-shadow: #10025f3b 0px 10px 10px 5px;
    width: 80%;
    height: 100%;
    border: 2px solid #ffffff;
    margin-right: 120px;
}
.moduloTexto1{
    background-color: #0d485f;
    display: flex;
    flex-direction: column;
    color: #fdffff;
    margin-bottom: 100px;
    margin-right: 100px;
    border-radius: 0 20px 20px 0;
    height: 240px;

}
.moduloTexto2{
    background-color: #0d485f;
    display: flex;
    flex-direction: column;
    color: #fdffff;
    margin-left: 100px;
    border-radius: 20px 0px 0px 20px;
    height: 240px;
}
.moduloTexto1 h1{
    color: #fdffff;
    padding: 0 10px 0 15px;
    /* margin-right: 55%; */
    background: #662b99;
}
.moduloTexto1 p{
    font-size: 18px;
    color: #fdffff;
    padding: 0 15px 0px 15px;
    margin-top: 0px;
}
.moduloTexto2 h1{
    color: #fdffff;
    padding: 0 10px 0 15px;
    /* margin-right: 55%; */
    background: #662b99;
}
.moduloTexto2 p{
    font-size: 18px;
    color: #fdffff;
    padding: 0 15px 0px 15px;
    margin-top: 0px;
}

.sessaoTres {
    margin-top: 90px;
    /* border: white 1px solid; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.sessaoTresCoisas {
    flex-direction: column;
    /* border: rgb(230, 6, 6) 1px solid; */
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    height: 600px;
    border-radius: 30px 30px 0 0;
    /* background-color: rgb(255, 255, 255); */
}
.sessaoTresCoisasContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sessaoTresBotoes {
    /* border: rgb(230, 6, 6) 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    height: 60px;
}

.sessaoTresBotoes button:hover {
    cursor: pointer;
}
.sessaoTresBotoesEstilo1{
    border-radius: 10px 10px 0 0;
    height: 100%;
    border: none;
    background-color: #FFEB82;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 900;
    color: #662B99;
}
.sessaoTresBotoesEstilo2 {
    border-radius: 10px 10px 0 0;
    height: 100%;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 900;
    background-color: #998f5d;
    color: #662B99;
}
.sessaoTresBotoesEstilo3 {
    border-radius: 10px 10px 0 0;
    height: 100%;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 900;
    background-color: #998f5d;
    color: #662B99;
}

.sessaoTresCoisasModulos1 {
    width: 95%;
    height: 500px;
    background-image: url(../assets/valor1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFEB82;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessaoTresCoisasModulos2 {
    width: 95%;
    height: 500px;
    background-image: url(../assets/valor2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFEB82;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessaoTresCoisasModulos3 {
    width: 95%;
    height: 500px;
    background-image: url(../assets/valor3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFEB82;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: rgb(21, 23, 26);
    width: 100%;
    height: 60px;
    box-shadow: rgba(16, 2, 95, 0.233) 0px -10px 30px -10px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.footer p {
    margin: 0;
    color: white;
    padding-left: 150px;
}

.footer img {
    padding-top: 5px;
    width: 120px;
}